# IntelliJ project files
.idea

#NodeJS
node_modules

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Recycle Bin used on file shares
$RECYCLE.BIN/

# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Sass
.sass-cache/
*.css.map




