///Layer system variables
///
///

$layer-normal             : 100;
$layer-hold               : 150;
$layer-fixed              : 200;
$layer-interface-backdrop : 350;
$layer-interface          : 400;
$layer-sticky             : 500;
$layer-modal-backdrop     : 550;
$layer-modal              : 600;